<!DOCTYPE html>
<html>
  <head>
    <title>places</title>
  </head>
  <body>
    <form action="/places/list" method="post">
      <input type="text" name="place-name" id="place-name" placeholder="Enter a place you've been">
      <input type="url" name="place-image" id="place-image">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
